
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
    
.container_background{
    
    max-width: 100vw;
    height: 200vh;
    padding-top: 20px;
    background-color: #ccc;

    /* viết mã lệnh để được background như mô tả ở file test.html và hình minh hoạ ở đây
    ------------------------------------------------------------------------*/
    
   
    /*------------------------------------------------------------------------*/
}

.logo{
    /* chuyển logo chữ "BURGER PTIT sang màu trắng và size to lên*/
    margin-left: 30px;
    color: red;
}
.content_wrap{
    margin: 100px 0 0 200px;
}
.title{
    color: aqua;
    /* chuyển title thành font "Fugaz One" và đổi màu chữ + size + uppercase + bóng đổ màu trắng*/

    
    /* ------------------------------------------------------------------- */
}
.sub_title{
    color: #fff;
    max-width: 700px;
    /* CSS cho size to lên và dùng font "Delius"*/


    /* --------------------------------------- */
}
.price_wrap{
    margin-top: 30px;
    margin-left: 300px; 
}
span{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}
.old_price{
    /* CSS cho giá cũ -------------------------*/


    /* --------------------------------------- */
}

.new_price{
    margin-left: 100px;
    /* CSS cho giá mới */

    /* ----------------- */

}
.button_wrap{ 
    margin: 40px 0 0 200px;

}
button{
    height: 60px;
    width: 200px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

.btn_order{
    margin-right: 40px;
    /* tăng độ đậm của chữ và đổi màu chữ, nền cho nút "Order now"*/

    /* ----------------------------------------------------------- */
}
.btn_detail{
     /* bỏ background nút "More detail"*/

     /* ------------------------------ */
    border: 1px solid orange;
    color: orange;
    font-weight: bold;

   
}