
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
    
.container_background{
    
    max-width: 100vw;
    height: 200vh;
    padding-top: 20px;
    background-color: #ccc;

    /* viết mã lệnh để được background như mô tả ở file test.html và hình minh hoạ ở đây
    ------------------------------------------------------------------------*/
    background-image: url(./burger.png), linear-gradient(180deg, rgba(5, 7, 11, 1), rgb(24, 33, 41));
    background-size: 800px, cover;
    background-repeat: no-repeat;
    background-position: right top, center ;
    background-attachment: fixed, scroll;
    /*------------------------------------------------------------------------*/
}

.logo{
    margin-left: 30px;
    /* chuyển logo chữ "BURGER PTIT sang màu trắng và size to lên*/
    
    color: #fff;
    font-size: 30px;
    /* -------------------------------------------------------------- */
}
.content_wrap{
    margin: 100px 0 0 200px;
}
.title{
    color: aqua;

    /* chuyển title thành font "Fugaz One" và đổi màu chữ + size + uppercase + bóng đổ màu trắng*/
    font-family: "Fugaz One", sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    color: orange;
    text-shadow: 0px 2px #fff;
    /* ------------------------------------------------------------------- */
}
.sub_title{
    color: #fff;
    max-width: 700px;

    /* CSS dùng font "Delius"*/
    font-family: "Delius", sans-serif;
    
    /* --------------------------------------- */
}
.price_wrap{
    margin-top: 30px;
    margin-left: 300px; 
}
span{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}
.old_price{
    /* CSS size, decoration cho giá cũ -------------------------*/
    font-size: 40px;
    text-decoration: line-through;
    
    /* --------------------------------------- */
}

.new_price{
    margin-left: 100px;
    /* CSS cho giá mới */
    color: orange;
}
.button_wrap{ 
    margin: 40px 0 0 200px;

}
button{
    height: 60px;
    width: 200px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

.btn_order{
    margin-right: 40px;
    /* tăng độ đậm của chữ và đổi màu chữ, nền cho nút "Order now"*/
        font-weight: bolder;
        color: #fff;
        background-color: orange;
    /* ---------------------------------------------------------- */
}
.btn_detail{
     /* bỏ background nút "More detail"*/
        background-color: transparent;
     /* --------------------------------- */
    border: 1px solid orange;
    color: orange;
    font-weight: bold;

   
}