*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
}
div{
    margin: 20px;   
    width: 600px;
    height: 500px;
    border: 3px dashed orange;
    background-color: #666;
    background-image: url("./assets/image/bike.jpg.crdownload");
    background-repeat: no-repeat;
    
}