*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
}
div{
    margin: 20px;
    width: 500px;
    height:600px;
  
    background-color: #666;
    background-image: url(https://img.autocarindia.com/Features/_New%20Sedans%20%20Sports%20Cars%20Web%20Resized%20%20Watermarked._011.jpeg?c=0);
    
}