*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
}
div{
    margin: 50px;
    border: 2px dashed orange;
    width: 1000px;
    height: 1500px;
    
    /* background-image: url("https://roko.bike/public/images/products/10/thumbs/682cae12d7ada_20trl2-red.jpg"); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: left; */

    
    background-attachment: fixed;
}

.btn{
    background-color: orange;
    width: 100px;
    height: 40px;
}